body{
    font-family: normal Arial, Helvetica, sans-serif;
    background: linear-gradient(45deg, #003865, #D4F6CC, #3CCF4E);
    background-size: 200% 200%;
}

header h1{
    text-align: center;
    margin-top: 50px;
    font-size: 5em;
    letter-spacing: 17px;
}

section{
    box-shadow: 1px 1px 5px black;
    padding: 30px;
    width: 750px;
    margin: 10px auto;
    display:flex;
    justify-content: center;
    column-gap: 30px;
}

div.bloco{
    box-shadow: 1px 1px 5px black;
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div#horas , div#minutos, div#segundos{
    text-align: center;
    font-size: 8em;
}

h2#hr{
    text-align: center;
}

@media(min-width: 600px) and (max-width: 849px){
    
    header h1{
        font-size: 3em;
    }

    section{
        width: 90%;
    }

    div.bloco{
        width: 29%;
    }

    div#horas , div#minutos, div#segundos{
        font-size: 6em;
    }

}

@media(max-width: 599px){

    header h1{
        font-size: 2em;
        letter-spacing: 0px;
        margin-top: 20px;
    }

    section{
        display: block;
        width: 85%;
        padding: 10px;
    }

    div.bloco{
        width: 200px;
        height: 200px;
        margin: 20px auto;
    }

    div#horas , div#minutos, div#segundos{
        font-size: 4em;
    }
}